{% extends 'base.html' %}


{% block content %}
{% load cart %}
{% load custom_filter %}
<div class="container">
   <div class="border rounded p-4 m-4">
        <a href="{% url 'store' %}" class="display-4 pl-4 ml-4 btn btn-success rounded-pill">Xaridda davom etish </a>
        <hr>
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Rasmi</th>
                    <th>Nomi</th>
                    <th>Narxi</th>
                    <th>Miqdori</th>
                    <th>Jami narxi</th>
                </tr>
            </thead>
            <tbody>
                
                {% for product in products %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td><img style="height: 80px;" class="" src="{{product.image.url}}" alt=""></td>
                    <td>{{product.name}}</td>
                    <td>{{product.price|currency}}</td>
                    <td>{{product|cart_quantity:request.session.cart}}</td>
                    <td>{{product|price_total:request.session.cart|currency}} sum</td>
                </tr>

                {% endfor %}
               
            </tbody>

            <tfoot>
                <tr>
                    <th colspan="4"></th>
                    <th class="" colspan="">Jami narxi</th>
                    <th>{{products|total_cart_price:request.session.cart|currency}}</th>
                </tr>
                <tr>
                  <th colspan="4"></th>
                  <th class="" colspan="">Yetkazib berish uchun:</th>
                  <th id="calculate_delivery">{{products|total_cart_price:request.session.cart}}+5000</th>
              </tr>
            </tfoot>
        </table>
        <hr>
        <div class="m-3 p-3">
            <a href="#" data-toggle="modal" data-target="#exampleModal" class="btn btn-outline-success border rounded  col-lg-3 float-right">Yetkazib berish</a>
            <a href="#" data-toggle="modal" data-target="#exampleModal2" class="btn btn-outline-success border rounded  col-lg-3 float-right">Olib ketish</a>
        </div>
   </div>
</div>


<!-- modal -->

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
              Qo'shimcha ma'lumot
          </h5>
          <hr>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="m-2 p-3">
            <form action="/check-out" method="POST">
                {% csrf_token %}
                <small style="color:red;">Saqlash tugmasini bossangiz buyurtma yetkazib beriladi</small>
                <div class="form-group">
                  <label for="">Manzilingiz</label>
                  <input type="text" name="address" id="" class="form-control" placeholder="" aria-describedby="helpId" required>
                  
                </div>
                <div class="form-group">
                    <label for="">Telefon raqamingiz</label>
                    <input type="text" name="phone" id="" class="form-control" placeholder="" aria-describedby="helpId" required>
                </div>
                <div class="form-check">
                  <input type="hidden" name="delivery" value="True">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedDisabled" checked disabled>
                  <label style="color: green;" class="form-check-label" for="flexCheckCheckedDisabled">
                    Uyingizgacha yetkazib beriladi
                  </label>
                </div>
                  <input type="submit" class="btn float-right btn-outline-success col-lg-6" value="Saqlash">
            </form>
          </div>
        </div>
        
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
              Olib ketish <small>Yetkazib berish ximati ham mavjud</small>
          </h5>
          <hr>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <div class="m-2 p-3">
            <form action="/check-out" method="POST">
              {% csrf_token %}
                <div>
                  <small style="color:red;">Buyurtma berish uchun Tasdiqlash tugmasini bosing</small>
                  <div class="form-group">
                    <label for="">Ism</label>
                    <input type="text" name="address" id="" class="form-control" placeholder="" aria-describedby="helpId" required>
                    
                  </div>
                  <div class="form-group">
                      <label for="">Telefon raqamingiz</label>
                      <input type="text" name="phone" id="" class="form-control" placeholder="" aria-describedby="helpId" required>
                  </div>
                  
                  <div class="form-check">
                    <input type="hidden" name="delivery" value="False">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDisabled" disabled>
                    <label style="color:red;" class="form-check-label" for="flexCheckDisabled">
                      Yetkazib berilmaydi !<br><br>
                    </label>
                  </div>
                    <input type="submit" class="btn float-right btn-outline-success col-lg-6" value="Tasdiqlash">
                  <h5>Bog'ishamol ko'chasi 12-uy dan olib ketishingiz mumkin</h5>
                  <h5>Telefon: +998 99 032 78 98</h5>
                  <h5>Jami narxi: {{products|total_cart_price:request.session.cart|currency}} sum</h5>
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3054.1983078681405!2d69.28148587596421!3d41.33738079909571!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae8b5267ba5c95%3A0x8d5f1236002730a6!2sYunusabad%20District%2C%20Tashkent%2C%20Uzbekistan!5e1!3m2!1sen!2s!4v1699410809440!5m2!1sen!2s" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
              </form>
          </div>
        </div>
        
      </div>
    </div>
  </div>

  <script>


    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(showPosition);
    } else { 
      console.log("Iltimos google chrome brauzeridan kiring chunki sizning hozirgi manzilingizni topa olmadik");
    }
    
    function showPosition(position) {
      console.log("Latitude: " + position.coords.latitude + 
      "\nLongitude: " + position.coords.longitude); 
    
      // Call the function with the current position
      var distance = getDistanceFromLatLonInKm({{db1.x}}, {{db1.y}}, position.coords.latitude, position.coords.longitude);
      // console.log(distance * 50);
      document.getElementById("calculate_delivery").innerHTML = Math.round(distance*50)+{{products|total_cart_price:request.session.cart|currency}};
    }
    
    function getDistanceFromLatLonInKm(lat1, lon1, lat2, lon2) {
      var R = 6371; // Radius of the earth in km
      var dLat = deg2rad(lat2-lat1);  // deg2rad below
      var dLon = deg2rad(lon2-lon1); 
      var a = 
        Math.sin(dLat/2) * Math.sin(dLat/2) + 
        Math.cos(deg2rad(lat1)) * Math.cos(deg2rad(lat2)) * 
        Math.sin(dLon/2) * Math.sin(dLon/2)
        ; 
      var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a)); 
      var d = R * c; // Distance in km
      return d;
    }
    
    function deg2rad(deg) {
      return deg * (Math.PI/180)
    }    
  </script>

{% endblock %}